*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    margin: auto;
    max-width:416px;
}
.container{
    margin: auto;
    max-width:416px;
    
}








 






